#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h1 {
    color: rgb(161, 167, 224);
    text-transform: uppercase;
    font-family: "Unica One";
    text-align: center;
    width: 100%;
  }

  body {
    background-color: #17182f;
    text-align: center;
  }

  p {
    color: rgba(255, 255, 255, 0.424);
    font-family: Tahoma;
  }
  
  canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    }
