/* global styles start */
* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #01B6EB;
}

h3 {
  text-align: center;
}

body {
  background: rgba(196, 192, 192, 0.096);

}
/* global styles end */


/* navbar start*/
#nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navBtn {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  padding: 7px;
  margin: 2px;
  background-color: rgb(41, 127, 167);
  color: white;
  border: none;
  transition: all 0.2 ease-in;
}

.navBtn:hover {
  background-color: rgb(53, 81, 117);
  cursor: pointer;
  transform: scale(1.02)
}

.navBtn i {
  font-size: 12px;
  margin-right: 5px;
}

#newDictionary i {
  color: rgb(204, 233, 204);
}

#translate i{
  color: rgb(229, 228, 147);
}
/* navbar end */


/* translate section start */
.closed{
  display: none !important;
}

#translateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#resultContainer,
#formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

input {
  padding: 3px;
  margin: 1px;
}

select{
  margin-bottom: 3px;
}

 #translate-form {
 text-align: center;
} 

#resultIntro{
  margin-top: 70px;
  color: grey;
}

#submitBtn{
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  padding: 7px;
  margin: 2px;
  background-color: rgb(142, 165, 175);
  color: white;
  border: none;
  transition: all 0.2 ease-in;
}

#submitBtn:hover{
  background-color: rgb(113, 136, 165);
  cursor: pointer;
  transform: scale(1.02)
}
/* translate section end */


/* tables */
#dictionaries {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.tableContainer {
  margin: 10px;
}

.tableh3 {
  text-align: center;
}


/* table-buttons start*/
.tableControlContainer {
  display: flex;
  justify-content: space-between;
  background: rgb(224, 234, 238);
  padding: 7px;
}

.addBtn {
  text-transform: uppercase;
  padding: 7px;
  background-color: rgb(97, 194, 221);
  color: white;
  border: none;
  transition: all 0.2 ease-in;
}


.addBtn:hover {
  background-color: rgb(41, 161, 197);
  cursor: pointer;
  transform: scale(1.02)
}

.deleteBtn {
  text-transform: uppercase;
  padding: 7px;
  background-color: rgb(209, 127, 138);
  color: white;
  border: none;
  transition: all 0.2 ease-in;
}


.deleteBtn:hover {
  background-color: rgb(189, 72, 88);
  ;
  cursor: pointer;
  transform: scale(1.02)
}

/* table-buttons end*/
